<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявки</title>
    <link rel="stylesheet" href="/requestsList.css">
</head>
<body>
<h3>Заявки</h3>
<table class="requests" id="{{teamId}}">
    <tr>
        <th>Логин</th>
        <th>Почта</th>
        <th>Телеграм</th>
        <th>Навыки</th>
        <th></th>
    </tr>
    {{#each requests}}
        <tr class="member-info">
            <td class="member-username" id="username">{{username}}</td>
            <td class="member-email" id="email">{{email}}</td>
            <td class="member-telegram" id="telegram">{{telegram}}</td>
            <td class="member-skills">
                {{#each skills}}
                    <ul>
                        {{this}}
                    </ul>
                {{/each}}
            </td>
            <td class="member-about" id="about"></td>
            <td class="request-buttons">
                <button class="accept" value="{{username}}">Принять</button>
                <button class="reject" value="{{username}}">Отклонить</button>
            </td>
        </tr>
    {{/each}}
</table>

<script src="/scripts/requestsListBtns.js"></script>
</body>
