<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Команды</title>
    <link rel="stylesheet" href="/teamsList.css">
</head>
<body>
<h3>Команды</h3>
<table class="teams-list">
    <tr>
        <th>Команда</th>
        <th>Описание</th>
        <th>Навыки</th>
        <th></th>
    </tr>
    {{#each teams}}
    <tr class="team-info">
        <td class="team-name" id="name">{{name}}</td>
        <td class="team-description" id="description">{{description}}</td>
        <td class="team-skills" rowspan="2">
            {{#each skills}}
                <ul>
                    {{this}}
                </ul>
            {{/each}}
        </td>
        <td rowspan="2" class="team-buttons">
            {{#if maySendApplication}}
                <button class="send" value = {{_id}}>✓ Отправить заявку</button>
            {{/if}}
        </td>
    </tr>
    <tr>
        <td class="members-count">
            {{#each members}}
            <div class="circle blue"></div>
            {{/each}}
            {{#each emptyCirclesArray}}
            <div class="circle gray"></div>
            {{/each}}
            <label>{{maxCountMembers}} участников</label>
        </td>
    </tr>
    {{/each}}
</table>
</body>