<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои команды</title>
    <link rel="stylesheet" href="/myTeams.css">
</head>
<body>
<div class="my-teams-page">
    <header>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="...">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
              rel="stylesheet">

        <div class="top-bar">
            <a class="logo" href="/ideas">GIP</a>
            <form class="search">
                <div class="input-wrapper">
                    <label>
                        <input type="text" placeholder="Поиск">
                    </label>
                </div>
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <div class="nav">
                <ul>
                    <li><a href="/ideas">Идеи</a></li>
                    <li><a href="/teams">Команды</a></li>
                    <li><a href="/myteams" class="active">Мои команды</a></li>
                    <li><a href="/profile">Личный кабинет</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div id="teams" class="teams">
        <ul>
            {{#each teams}}
                <table class="team">
                    <tr>
                        <td rowspan="1" class="full-team-description" width="70%">
                            <h3 class="team-name">{{name}}</h3>
                            <h5 class="team-description">{{description}}</h5>
                        </td>
                        <td rowspan="2" width="15%">
                            <ul class="team-skills">
                                {{#each skills}}
                                    <li class="skill">{{this}}</li>
                                {{/each}}
                            </ul>
                        </td>
                        <td rowspan="2" class="team-buttons" width="15%">
                            {{#if isOwner}}
                                <button class="view-requests" value="{{_id}}">Заявки</button>
                            {{/if}}
                            <button class="full-info" value="{{_id}}">Подробнее</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="members-count">
                            {{#each members}}
                                <div class="circle blue"></div>
                            {{/each}}
                            {{#each emptyCirclesArray}}
                                <div class="circle gray"></div>
                            {{/each}}
                            <label> {{maxCountMembers}} {{#isLessThan maxCountMembers 5}}
                                участника {{else}} участников {{/isLessThan}}</label>
                        </td>
                    </tr>
                </table>
            {{/each}}
        </ul>
    </div>
    <div id="requests-modal" class="modal">
        <div class="requests-modal-content">
            <span class="close">&times;</span>
            <div class="modal-info-content">
            </div>
        </div>
    </div>
    <script src="/scripts/viewRequests.js"></script>

    <div id="fullInfo-modal" class="modal">
        <div class="modal-content">
            <span class="close" id="full-info-close">&times;</span>
            <div class="modal-info-content">
                <h3 class="blue" id="team-name"></h3>
                <br>
                <h4 class="team-idea-description-header">Описание идеи:
                    <br>
                    <label class="narrow" id="team-idea-description"></label>
                </h4>
                <br>
                <h4 class="team-description-header">Описание команды:
                    <br>
                    <label class="narrow" id="team-description"></label>
                </h4>
                <br>
                <h4 class="team-owner-header">Капитан команды:
                    <label class="narrow" id="team-owner"></label>
                </h4>
                <br>
                <h4 class="team-members-header">Участники команды:
                    <label class="narrow" id="team-members"></label>
                </h4>
                <br>
                <h4 class="team-skills-header">Навыки команды:
                    <label class="narrow" id="team-skills"></label>
                </h4>
                <br>
                <h4 class="team-free-slots-header">Свободные места:
                    <label class="narrow" id="free-slots"></label>
                </h4>
            </div>
        </div>
    </div>
    <script src="/scripts/fullInfoTeamModal.js"></script>

</div>
</body>
<script src="/scripts/searchTeams.js"></script>
</html>