<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Команды</title>
    <link rel="stylesheet" href="/teamSearch.css">

</head>
<body>
<div class="team-search-page">
    <header>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="...">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
              rel="stylesheet">

        <div class="top-bar">
            <a class="logo" href="/ideas">GIP</a>
            <form class="search">
                <div class="input-wrapper">
                    <label>
                        <input type="text" placeholder="Поиск">
                    </label>
                </div>
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <div class="nav">
                <ul>
                    <li><a href="/ideas">Идеи</a></li>
                    <li><a href="/teams" class="active">Команды</a></li>
                    <li><a href="/myteams">Мои команды</a></li>
                    <li><a href="/profile">Личный кабинет</a></li>
                </ul>
            </div>
        </div>
    </header>
    <aside class="sidebar">
        <div class="sidebar-block filter">
            <h3 class=team-filter-text>Фильтр команд</h3>
        </div>
        <div class="sidebar-block search-bar">
            <form>
                <input type="search" placeholder="Поиск навыков">
            </form>
        </div>

        <h4 class="skills-header">Навыки</h4>
        <div class="sidebar-block skills">
            <div class="skills-list" id="skills-list">
                <ul>
                    {{#each skills-search}}
                        <li>
                            <input type="checkbox" id="{{name}}" value="{{name}}">
                            <label for="{{name}}">
                                {{name}}
                            </label>
                            <span class="count">
                                ({{count}})
                            </span>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <h4 class="count-filter-header">Количество людей в команде</h4>
        <div class="count-filter">
            <div class="wrapper">
                <div class="values">
                    <span id="range1">0</span>
                    <span> &dash; </span>
                    <span id="range2">5</span>
                </div>
                <div class="container">
                    <div class="slider-track"></div>
                    <input type="range" min="0" max="5" value="0" id="slider-1" oninput="slideOne()">
                    <input type="range" min="0" max="5" value="5" id="slider-2" oninput="slideTwo()">
                </div>
            </div>
        </div>

        <div class="sidebar-block apply">
            <button>Применить</button>
        </div>
    </aside>
    <script src="/scripts/teamsFilter.js"></script>

    <div id="teams" class="teams">
        <ul>
            {{#each teams}}
                <table class="team">
                    <tr>
                        <td rowspan="1" class="full-team-description" width="70%">
                            <h3 class="team-name">{{name}}</h3>
                            <h5 class="team-description">{{description}}</h5>
                        </td>
                        <td rowspan="2" width="15%">
                            <ul class="team-skills">
                                {{#each skills}}
                                    <li class="skill">{{this}}</li>
                                {{/each}}
                            </ul>
                        </td>
                        <td rowspan="2" class="team-buttons" width="15%">
                            {{#if maySendApplication}}
                                <button class="send" value= {{_id}}>✓ Отправить заявку</button>
                                <script>
                                    document.querySelector('.team-buttons .send').addEventListener('click', function() {
                                        this.innerHTML = 'Заявка отправлена';
                                    });
                                    document.querySelector('.team-buttons .send').addEventListener('click', function() {
                                        this.style.backgroundColor = '#838383';
                                    });
                                </script>
                            {{/if}}
                            <button class="full-info" value="{{_id}}">Подробнее</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="members-count">
                            {{#each members}}
                                <div class="circle blue"></div>
                            {{/each}}
                            {{#each emptyCirclesArray}}
                                <div class="circle gray"></div>
                            {{/each}}
                            <label> {{maxCountMembers}} {{#isLessThan maxCountMembers 5}}
                                участника {{else}} участников {{/isLessThan}}</label>
                        </td>
                    </tr>
                </table>
            {{/each}}
        </ul>
    </div>
    <div id="fullInfo-modal" class="modal">
        <div class="modal-content">
            <span class="close" id="full-info-close">&times;</span>
            <div class="modal-info-content">
                <h3 class="blue" id="team-name"></h3>
                <br>
                <h4 class="team-idea-description-header">Описание идеи:
                    <br>
                    <label class="narrow" id="team-idea-description"></label>
                </h4>
                <br>
                <h4 class="team-description-header">Описание команды:
                    <br>
                    <label class="narrow" id="team-description"></label>
                </h4>
                <br>
                <h4 class="team-owner-header">Капитан команды:
                    <label class="narrow" id="team-owner"></label>
                </h4>
                <br>
                <h4 class="team-members-header">Участники команды:
                    <label class="narrow" id="team-members"></label>
                </h4>
                <br>
                <h4 class="team-skills-header">Навыки команды:
                    <label class="narrow" id="team-skills"></label>
                </h4>
                <br>
                <h4 class="team-free-slots-header">Свободные места:
                    <label class="narrow" id="free-slots"></label>
                </h4>
            </div>
        </div>
    </div>
    <script src="/scripts/fullInfoTeamModal.js"></script>
    <script src="/scripts/sendApplication.js"></script>
</div>

</body>
<script src="/scripts/searchTeams.js"></script>
</html>